/* .header-main {
  background-color: blue;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
} */

.header-main a {
  margin: 0 20px;
  text-decoration: none;
}

.root {
  flex-grow: 1;
}

.grow {
  flex-grow: 1;
}

.menu-button {
    margin-left: -12;
    margin-right: 20,;
}
